[flake8]
# For error codes, see this https://flake8.pycqa.org/en/latest/user/error-codes.html

# Allow some leeway with black
max-line-length = 110
per-file-ignores =
    # `from module import *` shenanigans
    **/__init__.py: F401, F403, F405

exclude =
    env

ignore =
    # Function calls in function signatures - incompatible with ext-components
    B008
    # Newline before binary operator, this is in-line with PEP8.
    W503

accept-encodings = utf-8
docstring-convention = numpy